
<div class="rsp-row top-content" >
<div class="profileBox" >
  <div class="profileBox_header">    
      <div class="profileBox_label">
        <%= image_tag(@user.image.url, alt: 'Image',class: "panel-profile-img" ) if @user.image? %>
        <span class="userName userOnline"><%= current_user.name %></span>
      </div>
</div>
  <div class="row">
      <div class="col-md-12">
           <%= form_for(@message) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.text_area :content, placeholder: "Send new message..." , rows: "5" , class: 'textarea-container uiScrollableArea uiScrollableAreaWrap' %>
                <%= hidden_field_tag(:user_id, @user.id ) %>
              <div class="_4rv4">
                <%= f.submit "Send", class: "_30yy _38lh _39bl" %>
                </div>
              </div>

            <% end %>
      </div>

  </div>

</div>
